<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset your Password - ShortZoid</title>
  <link rel="stylesheet" href="/css/signin.css" type="text/css">
  <link rel="icon" type="image/x-icon" href="/favicon.svg">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <h1>ShortZoid</h1>
  <form action="/reset-password/<%= token %>" method="POST">
    <h3>Reset Your Password</h3>

    <label for="password">New Password</label>
    <input type="password" name="password" placeholder="Enter your new password" id="password" required>

    <label for="confirm-password">Confirm Password</label>
    <input type="password" name="confirm-password" placeholder="Enter your new password again" id="confirm-password" required>

    <% if (typeof error !== 'undefined') { %>
      <p class="error-message"><%= error %></p>
    <% } %>

    <button type="submit">Create New Password</button>
  </form>

</body>

</html>