<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verify OTP - ShortZoid</title>
  <link rel="stylesheet" href="/css/signin.css" type="text/css">
  <link rel="icon" type="image/x-icon" href="/favicon.svg">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <h1>ShortZoid</h1>
  <form action="/user/verify-otp?email=<%= email %>" method="POST">
    <h3>Verify Email</h3>

    <label for="otp">One Time Password (OTP)</label>
    <input type="text" name="otp" placeholder="Enter your OTP" id="otp" required>

    <% if (typeof error !== 'undefined') { %>
      <p class="error-message"><%= error %></p>
    <% } %>
    <% if (typeof message !== 'undefined') { %>
      <p class="message"><%= message %></p>
      <% } %>

    <button type="submit">Verify your Email</button>
    <p style="text-align: center; margin-top: 10px;">
      <a href="/user/resend-otp?email=<%= email %>">Resend OTP</a>
    </p>
  </form>

</body>

</html>