<header>
    <div class="header">
        <a href="/dashboard" class="logo">ShortZoid</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="/dashboard">Home</a>
            <a href="/dashboard/manage">Manage URLs</a>
            <a href="/dashboard/analytics">Analytics</a>
            <a href="/user/profile">Account</a>
            <a href="/logout">Logout</a>
        </nav>
    </div>
</header>