<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShortZoid - URL Shortener</title>
    <link rel="stylesheet" href="/css/dashboard.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/favicon.svg">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="header">
            <a href="/dashboard" class="logo">ShortZoid</a>
            <i class='bx bx-menu' id="menu-icon"></i>
            <nav class="navbar">
                <a href="/dashboard">Home</a>
                <a href="/dashboard/manage-urls">Manage URLs</a>
                <a href="/dashboard/analytics">Analytics</a>
                <a href="/user/profile">Account</a>
                <a href="/logout">Logout</a>
            </nav>
        </div>
    </header>

    <section id="create-url">
        <form action="/url" method="POST">
            <label for="url">Enter the URL: </label>
            <input type="text" name="url" placeholder="https://example.com">

            <button type="submit">Generate</button>
        </form>

        <div>
            <% if (typeof id !=='undefined' ) { %>
                <div class="generated-url-box">
                    <p>URL Generated: <span id="generated-url">https://shortzoid.vercel.app/r/<%= id %></span>
                        <button type="button" onclick="copyURL()">Copy</button>
                    </p>
                </div>
                <% } %>
        </div>
    </section>

    <script>
        function copyURL() {
            const copyText = document.getElementById("generated-url").innerText;
            navigator.clipboard.writeText(copyText).then(() => {
                alert("Copied the URL: " + copyText);
            }).catch(err => {
                alert("Failed to copy the URL");
            });
        }

    const menuIcon = document.querySelector('#menu-icon');
    const navbar = document.querySelector('.navbar');
    const navbg = document.querySelector('.nav-bg');
    menuIcon.addEventListener('click', () => {
        menuIcon.classList.toggle('bx-x');
        navbar.classList.toggle('active');
        navbg.classList.toggle('active');
    });
    </script>
</body>

</html>