<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My URLs - ShortZoid</title>
    <link rel="stylesheet" href="/css/urls.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/favicon.svg">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>ShortZoid</h1>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/urls">My URLs</a></li>
                <li><a href="/user/account">My Account</a></li>
            </ul>
        </div>
    </header>
    <section id="user-urls">
    </section>
</body>

</html>