<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Shortly</title>
    <link rel="stylesheet" href="./css/signin.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Shortly - URL Shortener</h1>
    <form>
        <h3>Login and Start Sharing</h3>
        <form action="#" method="POST">
            <label for="email">Email</label>
            <input type="text" placeholder="Enter your email" id="email">
            
            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password">
            
            <button type="submit">Login</button>
        </form>
    </form>

  </body>
</html>
