* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #191C33;
    color: #fff;
    text-align: center;
    min-height: 100vh;
}

#user-info {
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 35px 35px;
}

.user-info-header {
    display: flex;
    justify-content: space-around;
}

.btn {
    background-color: #ffffff;
    color: #080710;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: space-evenly;
}

.info-box {
    margin-top: 3rem;
}

.info-box p {
    margin-top: 5px;
}