* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #191C33;
    color: #fff;
    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.link-info {
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 35px 35px;
}

.analytics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.analytics-container div {
    height: 200px;
    width: 400px;
}

.total-clicks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.total-number-of-clicks {
    font-size: 3rem;
    margin-top: 1rem;
}