* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #191C33;
    color: #fff;
    text-align: center;
    min-height: 100vh;
}