* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #191C33;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 72px;
    font-weight: 800;
    margin: 0px 0px 32px;
    background-image: linear-gradient(to right, rgb(96, 165, 250), rgb(147, 51, 234));
    background-clip: text;
    text-align: center;
    line-height: 72px;
    color: rgba(0, 0, 0, 0);
    background-color: rgb(17, 24, 39);
}

h2 {
    box-sizing: border-box;
    font-size: 36px;
    font-weight: 700;
    margin: 0px 0px 24px;
    text-align: center;
    line-height: 40px;
    color: rgb(209, 213, 219);
}

.description {
    margin: 0px 112px 32px;
    max-width: 672px;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    color: rgb(156, 163, 175);
}

.btn {
    color: rgb(255, 255, 255);
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 28px;
    padding: 10px 40px;
    background-color: rgba(248, 250, 252, 0.9);
    background-image: linear-gradient(to right, rgb(37, 99, 235), rgb(147, 51, 234));
    cursor: pointer;
}

#feature-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 30px;
}

.feature-box {
    height: 230px;
    width: 300px;
    border-radius: 8px;
    background-color: rgba(31, 41, 55);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

i {
    font-size: 2.5rem;
    color: rgb(96, 165, 250);
    line-height: 24px;
    background-color: rgba(31, 41, 55, 0.5);
}

.feature-box-title {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0px 8px;
    text-align: center;
    line-height: 28px;
    color: rgb(216, 180, 254);
    background-color: rgba(31, 41, 55, 0.5);
}

.feature-box-description,
#copyright {
    text-align: center;
    color: rgb(156, 163, 175);
    line-height: 24px;
}

#copyright {
    margin-top: 30px;
}