*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #191C33;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 50px;
    font-weight: 800;
    background-image: linear-gradient(to right, rgb(96, 165, 250), rgb(147, 51, 234));
    background-clip: text;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    background-color: rgb(17, 24, 39);
}

form {
    width: 30%;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 35px 35px;
}

form * {
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 28px;
    text-align: center;
}

label {
    display: block;
    margin-top: 25px;
    font-size: 16px;
}

input {
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #b9b9b9;
}

.forget-password {
    margin-top: 10px;
}

button {
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.login-or-signup {
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
}

.error-message {
    text-align: center;
    color: red;
    font-weight: bold;
    margin: 10px;
}

.message {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}