<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account - ShortZoid</title>
    <link rel="stylesheet" href="/css/account.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/favicon.svg">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header">
            <a href="/dashboard" class="logo">ShortZoid</a>
            <i class='bx bx-menu' id="menu-icon"></i>
            <nav class="navbar">
                <a href="/dashboard">Home</a>
                <a href="/dashboard/manage-urls">Manage URLs</a>
                <a href="/dashboard/analytics">Analytics</a>
                <a href="/user/profile">Account</a>
                <a href="/logout">Logout</a>
            </nav>
        </div>
    </header>

    <section id="user-info">
        <div class="user-info-header">
            <h2>Account Information</h2>
            <div>
                <a href="/user/profile/edit">
                    <button class="btn">Edit Profile</button>
                </a>
                <a href="/user/change-password">
                    <button class="btn">Change Password</button>
                </a>
            </div>
        </div>
        <div class="info">
            <% if (user.gender === 'Male') { %>
                <img src="/user/male.png" height="200px">
            <% } else if (user.gender === 'Female') { %>
                <img src="/user/female.png" height="200px">
            <% } else { %>
                <img src="/user/user.png" height="200px">
            <% } %>
            <div class="info-box">
                <p><strong>Name:</strong> <%= user.name || 'Name not available' %></p>
                <p><strong>Email:</strong> <%= user.email || 'Email not available' %></p>
                <p><strong>Gender:</strong> <%= user.gender || 'Not Specified' %></p>
                <p><strong>Location:</strong> <%= user.location || 'Not Specified' %></p>
            </div>
        </div>
    </section>
</body>

</html>